
<div class="dashboard-container">
  <header class="header">
    <div class="logo">DORMANT PORTAL</div>
    <nav class="nav">
      <a routerLink="/dashboard"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
         class="nav-item">
        Dashboard
      </a>
      <a (click)="toggleUploadPopup()" class="nav-item">
        <a routerLink="/upload" class="nav-item">Upload</a> 
      </a>
      <a routerLink="/dashboard/reports"
         routerLinkActive="active"
         class="nav-item">
         <a class="nav-item upload">Reports</a>
      </a>
    </nav>
  </header>

  <main class="main-content">
    <div class="overview-cards">
      <div class="card">
        <h2>76</h2>
        <p>Uploads</p>
      </div>
      <div class="card">
        <h2>41</h2>
        <p>Downloads</p>
      </div>
      <div class="card exceptions">
        <h2>17</h2>
        <p>Exceptions</p>
        <span class="triangle-icon"></span>
      </div>
    </div>

    <div class="table-container">
      <div class="table-header">
        <input type="text" class="search" placeholder="Search" />
      </div>
      <table class="records-table">
        <thead>
          <tr>
            <th>Initiator Name</th>
            <th>ID</th>
            <th>Status</th>
            <th>Sent Date</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mamman Mohammed</td>
            <td>SGGH-1723-2004</td>
            <td>Complete</td>
            <td>Dec 23, 2024</td>
            <td>5 seconds ago</td>
          </tr>
          <tr>
            <td>Kirk Bentum Tagoe</td>
            <td>SGGH-1723-2005</td>
            <td>Pending</td>
            <td>Dec 24, 2024</td>
            <td>5 seconds ago</td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <button class="page-btn">1</button>
        <button class="page-btn">2</button>
        <button class="page-btn">3</button>
      </div>
    </div>
  </main>

